* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #1e1117;
    background-color: #C54B38;
	height:100%;
}


h1{
	text-align:center;
	font-family:'Bitter', serif;
	font-size:2em;
}

p{
	padding:1em;
}

.divider-left{
	text-align:left;
}

.divider-right{
	text-align:right;
}

.signature{
	width:25%;
	float:right;
	margin-right:3em;
}

.paraCetnerParagraphs{
	opacity:1;
}

.paraCenter{
	text-align:center;
	padding: 2em;
	background-color: #FCE5E0;
	float:right;
	margin:1em;
	border: 1px solid #1e1117;
	opacity:0.85;
}

.paraCetnerParagraphs{
	opacity:1;
}

.topnav {
  overflow: hidden;
  background-color: #1e1117;
  color: #F7F7F7;
  border: 1px solid  #1e1117;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #F7F7F7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid  #1e1117;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #FCE5E0;
  color: #1e1117;
  border: 1px solid  #1e1117;
}

/* Style the content */
.content {
  background:url('../images/filter_image.PNG') #C54B38;
  background-repeat: repeat-y;
  background-size:100%;
  padding: 10px;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:10px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%:);
}

.bioContent{
	text-align:center;
	padding:10px;
	border: 1px solid #1e1117;
	background-color:#FCE5E0;
	margin:10px;

}

.projectContent{
	text-align:left;
	padding:10px;
	border: 1px solid #1e1117;
	background-color:#FCE5E0;
	margin:10px;

}

.signature{
	width:200px;
	padding-right:50px;
}

/* Style the footer */


.footer {
	background-color: #F37E67;
	padding:10px;
}

.portfolioLink{
	color:#f7f7f7;
	text-align:center;
}

.leftSection{
	  float: left;
  width: 30%;
  background: #F7F7F7;
  padding: 20px;
height:auto;
display:table-cell;
column-fill:balance;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #FCE5E0;
height:auto;
display:table-cell;
column-fill:balance;
}

.leftSection:after{
	  content: "";
  display: table;
  clear: both;
}

.twoSections{
	display:table;
	width:100%;
}


a{
	background-color:transparent;
	}

a:active,a:hover{
	outline-width:0;
	}
	
.column{
	float:left;
	width:50%;
}

.row:after{
	content:"";
	display:table;
	clear:both;
}

.navButton{
	padding: .5em;
	float: left;
	width:auto;
	border:none;
	display:block;
	outline: 0;
}


.left-align{
	text-align:left;
	}

.display{
	max-width:100%;
	padding:10px;
}

@media (max-width:768px){
	.modal-content{
			width:500px
		}
		.modal{
			padding-top:50px
		}
	}
@media (min-width:993px){
	.modal-content{
			width:900px
		}
	.hide-large{
		display:none;
		}
	.sidebar .collapse{
		display:block
		}
}
@media (max-width:992px) and (min-width:601px){
	.hide-medium{
		display:none
		}
	}
	
@media (max-width: 600px) {
  .leftSection, article {
    width: 100%;
    height: auto;
  }
}	

@media (max-width:992px){
	.sidebar .collapse{
		display:none
		}
		.main{
			margin-left:0;
			margin-right:0
		}
		.auto{
			max-width:100%;
			}
		}